-# .base
-#   .title
-#     checker
-#   = link_to root_path  do
-#     .add_btn
-#       予定を追加 
-# .main 
-#   現在の予定
-#   - @checktime.each do |content|
-#     .contents 
-#       .contents_left
-#         .al_bar
-#           .move_bar   
-#         .start_point
-#           start
-#         .space
-#         .over_point
-#           timeover  
-#       .contents_right
-#         #{content.text}まで
-#         %br
-#         後です

  
  -# - @checktime.each do |content|
  -#   - necessary_day = content.total_sec / (24*60*60)
  -#   - necessary_hour = (((content.total_sec / (24*60*60).to_f) - (content.total_sec / (24*60*60))) * 24).floor
  -#   - necessary_min = (((((content.total_sec / (24*60*60).to_f) - (content.total_sec / (24*60*60))) * 24) -  (((content.total_sec / (24*60*60).to_f) - (content.total_sec / (24*60*60))) * 24).floor) * 60).floor
  -#   - necessary_sec = (((((((content.total_sec / (24*60*60).to_f) - (content.total_sec / (24*60*60))) * 24) -  (((content.total_sec / (24*60*60).to_f) - (content.total_sec / (24*60*60))) * 24).floor) * 60) - necessary_min) * 60).floor
  -# .contents 
  -#   .contents_left
  -#     .al_bar
  -#       .move_bar   
  -#     .start_point
  -#       start
  -#     .space
  -#     .over_point
  -#       timeover  
  -#   .contents_right
  -#     まで
  -#     %br
  -#     後です
  -#     .remove_btn
  -#       この予定を削除
    -# .contents
    -#   .contents_left
    -#     .al_bar
    -#     .start_point
    -#       start
    -#     .space
    -#     .over_point
    -#       timeover  
    -#   .contents_right
    -#     出発まで
    -#     %br
    -#     後12:30:20です  
    -#     .remove_btn
    -#       この予定を削除
      
  