.base 
  .title
    checker
  .add_btn
    予定を追加  
.main 
  現在の予定
  -# .tx_contents
  -#   現在設定されている予定はありません
  .contents
    .contents_left
      .al_bar
      .start_point
        start
      .space
      .over_point
        timeover  
    .contents_right
      出発まで
      %br
      後12:30:20です
      .remove_btn
        この予定を削除
  .contents
    .contents_left
      .al_bar
      .start_point
        start
      .space
      .over_point
        timeover  
    .contents_right
      出発まで
      %br
      後12:30:20です  
      .remove_btn
        この予定を削除
      
  