.base
  .title
    checker   
  .use_space  
    .use
      使い方の説明    
  .description   
    このアプリケーションはスケジュールを管理するアプリケーションです。
    .description_msg
      入力欄に予定の名前や日時を入力して、スタートをクリックすると下の欄に予定が追加されます。
      %br
      日時は半角で入力してください
      %br
      %br
      予定の名前をクリックすると詳細を見ることができます。
      %br
      予定を削除したい場合は入力ページの予定の欄の「この予定を削除」ボタンをクリックします。
      %br
      予定を変更したい場合は入力ページの予定の欄の「この予定を変更」ボタンをクリックします。
      %br
      「予定一覧を見る」ボタンをクリックすると予定一覧ページへ移動します。 
  = link_to root_path, data: {"turbolinks" => false} do  
    .description_btn
      予定一覧を見る   
  .msg  
    
  