.base {
  height: 100%;
  width: 100vw;
  background: darkgreen;
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
  .title {
    height: 150px;
    width: 400px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    margin: auto;
  }
  .add_btn {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 22pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #990000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #990000;    /* 枠の指定 */
    position: absolute;
    right:  50px;  
    top: 50px;      
  } 
  .use_btn {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 22pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #990000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #990000;    /* 枠の指定 */
    position: absolute;
    right:  50px;  
    top: 50px;      
    
  } 
  .use_space {
    height: 70px;
    width: 1000px;
    text-align: center;
    color:white;
    font-size: 20px;
    margin: auto;
    border: solid 3px white;
    border-bottom: 0;
    .use {
      display       : inline-block;
      border-radius : 5%;          /* 角丸       */
      font-size     : 18pt;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      padding       : 12px 12px;   /* 余白       */
      background    : #000066;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      line-height   : 1em;         /* 1行の高さ  */
      transition    : .3s;         /* なめらか変化 */
      border        : 2px solid #000066;    /* 枠の指定 */
      margin-top: 10px;
    }
  }
  
    .button:hover {
      box-shadow    : none;        /* カーソル時の影消去 */
      color         : #000066;     /* 背景色     */
      background    : #ffffff;     /* 文字色     */
    }
  
  .form_box {
    height: 330px;
    width: 1000px;
    background: darkturquoise;
    padding-top: 30px;
    margin: auto;
    border: solid 1px white;
    .text_box {
      width: 500px;
      height: 80px;
      margin: auto;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      input[type="text"] {
        width: 480px;
        height: 40px;
        font-size: 20px;
        padding-left: 20px;
     }
    }
    .memo_box {
      width: 500px;
      height: 80px;
      margin: auto;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      textarea {
        width: 480px;
        height: 60px;
        font-size: 20px;
        padding-left: 20px;
        font-weight: normal;
     }
    } 
    .date {
      width: 500px;
      margin: auto;
      font-size: 20px;
      font-weight: bold;
    }
    .submit_box {
      width: 100%;
      height: 60px;
      margin: auto;
      margin-left: 250px;
      input[type="number"] {
        width: 50px;
        height: 40px;  
        font-size: 20px;
        padding-left: 20px;
      }
      .btn {
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 22pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #1a1aff;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        border        : 2px solid #1a1aff;    /* 枠の指定 */
        margin-left: 20px;
       } 
    }
  }
  
  .plans_title {
    width: 300px;
    height: 50px;
    background: midnightblue;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 20px 0 0 150px ;
    line-height: 60px;
    padding-left: 70px;
  
  } 

  .plans_base {
    width: 1050px;
    height: 500px;
    background: midnightblue;
    overflow: scroll;
    padding: 20px 20px 20px 20px;
    margin: auto;
    margin-left: 150px;
    .check_msg {
      width: 1000px;
      color: white;
      background: #770000;
      clear:  both; 
      margin-bottom: 20px;
    }
    .plans {
      width: 1050px;
      height: 55px;
      background: midnightblue;
      margin: auto;
      
      .plans_name {
        width: 300px;
        height: 49px;
        background: midnightblue;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border: outset 3px white;
        float: left;
        text-align: center;
        line-height: 48px;
        
       
        a {
          padding: 5px  5px  5px  5px ;
          border: solid 1px white;
          border-radius:5px ;
          color: white;
          text-decoration: none;
        }
      }
      .plans_time {
        width: 500px;
        height: 50px;
        background: midnightblue;
        font-size: 20px;
        font-weight: bold;
        color: white;
        float: left;
        line-height: 45px;
        padding-left: 200px;
        position: relative;
        border: outset 3px white;
        .remove_btn {
          display       : inline-block;
          border-radius : 5%;          /* 角丸       */
          font-size     : 10pt;        /* 文字サイズ */
          text-align    : center;      /* 文字位置   */
          cursor        : pointer;     /* カーソル   */
          padding       : 12px 12px;   /* 余白       */
          background    : #990000;     /* 背景色     */
          color         : #ffffff;     /* 文字色     */
          line-height   : 1em;         /* 1行の高さ  */
          transition    : .3s;         /* なめらか変化 */
          border        : 2px solid #990000;    /* 枠の指定 */
          position: absolute;
          right:  10px;  
          top: 6px;      
          }
        }
      }
    }
}