.edit_form_box {
  height: 350px;
  width: 1000px;
  background: #993366;
  padding-top: 30px;
  margin: auto;
  border: solid 1px white;
  color: white;
  .e_msg {
    width: 300px;
    height: 20px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .text_box {
    width: 500px;
    height: 80px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    input[type="text"] {
      width: 480px;
      height: 40px;
      font-size: 20px;
      padding-left: 20px;
   }
  }
  .memo_box {
    width: 500px;
    height: 80px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    textarea {
      width: 480px;
      height: 60px;
      font-size: 20px;
      padding-left: 20px;
      font-weight: normal;
   }
  } 
  .date {
    width: 500px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
  }
  .submit_box {
    width: 100%;
    height: 60px;
    margin: auto;
    margin-left: 250px;
    input[type="number"] {
      width: 50px;
      height: 40px;  
      font-size: 20px;
      padding-left: 20px;
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;          /* 角丸       */
      font-size     : 22pt;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 12px 12px;   /* 余白       */
      background    : #1a1aff;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      line-height   : 1em;         /* 1行の高さ  */
      transition    : .3s;         /* なめらか変化 */
      border        : 2px solid #1a1aff;    /* 枠の指定 */
      margin-left: 20px;
     } 
  }
}