.base_box {
  height: 400px;
  width: 400px;
  margin: auto;
  border: solid 1px #777777;
  margin-top: 100px;
  .registration_title {
    height: 60px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    border-bottom: solid 1px #777777;
  }
  .new_user {
    margin-top: 20px;
    margin-left: 10px;
  }
}
